:root{
--navyblue: #2E2F42;
--iris: #4D5AE5;
--slate: #434455;
--white: #FFF;
--cloud:#F4F4FD;
----cornflower: #E7E9FC;
--ocean: #404BBF;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}

.container{
    width: 100%;
    max-width:1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
    outline: 2px solid red;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link{
    text-decoration:none;
}

.list{
list-style-type:none;
}

/**----------------------------------HEADER-------------------------------*/

.header{
    border-bottom: 1px solid #e7e9fc;
}

    
.header-logo {
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris, #4D5AE5);
    text-transform: uppercase;
    margin-right: 76px;

}

.header-logo-accent {
    color: var(--navyblue, #2E2F42);
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 332px;
}

.header-navigation{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    
}
.header-nav-menu{
    display: flex;
    gap: 40px;
   
    
}

.header-address{
    display: flex;
    gap:40px
}

.header-nav-link{
    color:var(--navyblue);
    padding: 24px 0;;
    display: block;
        font-size:16px;
        font-weight:500;
        line-height:1.5;
        letter-spacing:0.02em;
        position: relative;
        transition: color 300ms ease;
}

.header-nav-link:hover, .header-nav-link:focus{
    color:#404bbf;
}

.current {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
}

.address {
    font-style:normal;
}
.header-address-link{
color: var(--slate);
font-style:normal;
font-size:16px;
font-weight:400;
line-height:1.5;
letter-spacing:0.02em; 
transition: color 300ms ease;   
}

.header-address-link:hover, .header-address-link:focus {
    color:var(--ocean) ;
}
.header-address-link {
    background: var(--white, #FFF);
}

/**-------------------------------------ENTRY----------------------------------*/
.entry {
    background-color: var(--navyblue);
    background-image:linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office\ 1.jpg);
    padding: 188px 0;
    background-image: ;
}
 
.entry-container{

    
}
  
.entry-intro {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.button {
    font-family: "Roboto", sans-serif;
        background:var(--iris);
        color:var(--white);
        font-size:16px;
        font-weight:500;
        line-height:1.5;
        letter-spacing:0.04em;
        cursor:pointer;
        border-radius: 4px;
            border: none;
            display: block;
            min-width: 169px;
            padding: 16px 32px;
            margin: 0 auto;
            transition: background-color 300ms ease;
  
}
.button:hover, .button:focus{
    background-color: var(--ocean)
}

/**-------------------------------------CONTENT----------------------------------*/

.content, .action {
    background-color: var(--white);
}

.content{
    padding: 120px 0;
}

.content-list {
    display: flex;
    gap: 24px;
    
}

.content-item {
    width: calc((100% - 72px) / 4);
}

.content-block{
width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.content-subtitle {
    color: var(--navyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.content-description {
    color: var(--slate);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/**-------------------------------------ACTION----------------------------------*/

.action{
    padding-bottom: 120px;
}

.action-title {
    color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.action-list {
    display: flex;
    gap: 24px;
}

.action-item {
    display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc((100%-24px*2) / 3);
}

.action-img {
    display: block;
}

/**-------------------------------------TEAM----------------------------------*/

.team {
    background: var(--cloud);
padding: 120px 0;
}

.team-title {
    color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-container{
    padding: 32px 0;    
}

.team-item {
        background: var(--white);
    border-radius: 0px 0px 4px 4px;
    }


 

.team-img {
width: calc((100%-24*3) / 4);
display: block;
}

.team-subtitle {
    color: var(--navyblue);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.team-text {
    color: var(--slate);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.team-socials-list{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-socials-link{
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.team-socials-item{
    width: 40px;
    height: 40px;
}

.team-social-icon{
    fill: var(--cloud);
}

/**-------------------------------------CUSTOMERS----------------------------------*/

.customers-container{
    margin-bottom: 120px;
}

.customers-title{
color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-top: 120px;  
        margin-bottom: 72px;
}

.customers-list{
    width: 1128px;
    display: flex;
    gap: 24px;
}

.customers-block{
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--lightslate, #8E8F99);
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-icon{
fill: #8E8F99;
}

.customers-icon:hover, .customers-icon:focus{
    fill: var(--ocean);
}

/**-------------------------------------FOOTER----------------------------------*/

.footer {
    background: var(--navyblue);
    padding: 100px 0;
}

.footer-container{
display: flex;
gap: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: var(--iris);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-accent {
    color: var(--cloud);  
}

.footer-slogan {
    color: var(--cloud);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
       
}

.socials-container {}

.footer-socials-list {
    display: flex;
    gap: 16px;

}

.footer-socials-subtitle{
    color: var(--white);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}

.footer-socials-item {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.footer-socials-link{
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.footer-social-icon{
    fill: var(--cloud);
}



/**-------------------------------------PORTFOLIO----------------------------------*/

.portfolio{
    padding-top: 96px;
        padding-bottom: 120px;
}

.button-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.button-item {
        background: var(--cloud);
        cursor: pointer;
        border-radius: 4px;

    
}

.button-text {
    color: var(--iris);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border: 1px solid var(----cornflower);
            background: var(--cloud);
            cursor: pointer;
            border-radius: 4px;
            padding: 12px 24px;
            
}

.button-text:hover, .button-text:focus{
color: var(--white);
    background: var(--ocean);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}



.portfolio {
    background: #FFF;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
        background: var(--white, #FFF);
        width: calc(( 100% - 48px ) / 3);      
}

.portfolio-img {
    background: url(<path-to-image>);
    display: block;
}

.portfolio-cover-container{
    position: relative;
    overflow: hidden;
}

.portfolio-cover-container:hover .portfolio-cover-text{
    transform: translateY(0);
}

.portfolio-cover-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 164px;
    padding-left: 32px;
    color: var(--cloud);
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background: var(--iris);
        transform: translateY(100%);
        transition: transform 300ms ease;
}


.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    color: var(--navyblue);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.portfolio-text {
    color: var(--slate);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

